/* ===================== Global variables =======================*/

$darkGrey: #333;
$authorGrey: #999;
$tableHover: #fafafa;

/* =====================      Header      =======================*/

#title {
    background-color: $darkGrey;
    color: white;
    margin-bottom: 0;
  h1{
    font-size: 10rem;
  }
}


/* =====================       News       =======================*/


.news.row {
  background-color: white;
  border-bottom: 1px solid #ccc;
  border-top: 0px;
  padding: 18px;
.title {
  color: $darkGrey;
  font-size: 13pt;
  }
.author {
  color: $authorGrey;
  font-size: 13pt;
  }
}

.row:hover {
  background-color: $tableHover;
  cursor: pointer;
}

