<!DOCTYPE html>
<html lang="en" ng-app="hackerNews">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="controllers/newsCtrl.js"></script>
  <script src="app.js"></script>
  <script src="bower_components/moment/min/moment.min.js"></script>
  <script src="bower_components/angular-moment/angular-moment.min.js"></script>

  <title>HackerNews</title>
</head>
<body>

  <section id="title" class="jumbotron">
    <div class="container-fluid">
      <h1>HN Feed</h1>
      <h2>We &#60;3 hacker news!</h2>
    </div>
  </section>

  <section id="news" class="container" ng-controller="newsCtrl">
    <div class="news row" ng-repeat="newsObj in news" ng-click="go(newsObj)">
      <div class="col-xs-8 col-sm-9" ng-show="newsObj.title===null">
        <span class="title">{{newsObj.story_title}}</span>
        <span class="author">  - {{newsObj.author}} -</span>
      </div>
      <div class="col-xs-8 col-sm-9" ng-show="newsObj.title!==null">
        <span class="title">{{newsObj.title}}</span>
        <span class="author">  - {{newsObj.author}} -</span>
      </div>
      <div class="col-xs-2">
        <span am-time-ago="newsObj.created_at"></span>
      </div>
      <div class="col-xs-2 col-sm-1">
        <span ng-click="deleteRow(newsObj);$event.stopPropagation()" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </div>
    </div>
  </section>

</body>
</html>