<!DOCTYPE html>
<html lang="en" ng-app="hackerNews">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="controllers/newsCtrl.js"></script>
  <script src="app.js"></script>
  <script src="bower_components/moment/min/moment.min.js"></script>
  <script src="bower_components/angular-moment/angular-moment.min.js"></script>

  <title>HackerNews</title>
</head>
<body>

<section id="title" class="jumbotron">
  <div class="container-fluid">
    <h1>HN Feed</h1>
    <h2>We &#60;3 hacker news!</h2>
  </div>
</section>

<section id="news" class="container" ng-controller="newsCtrl">

  <table class="table news">
    <tr ng-repeat="newsObj in news" ng-click="go(newsObj)">
      <td ng-show="newsObj.title===null">
      <span class="title">{{newsObj.story_title}}</span>
      <span class="author">  - {{newsObj.author}} -</span></td>
      <td ng-show="newsObj.title!==null">
      <span class="title">{{newsObj.title}}</span>
      <span class="author">  - {{newsObj.author}} -</span></td>
      <td ><span am-time-ago="newsObj.created_at"></span></td>
      <td ><span ng-click="" class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
    </tr>
  </table>

</section>

</body>
</html>